.movies-preloader {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-height: 1068px;
  min-height: 318px;
  /* min-height: 100%; */
  overflow: hidden;
}

.movies-preloader__message{
  display: flex;
  margin: 30px auto;
  padding: 0;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #ffffff;
}

.movies-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 70px 0 auto;

  display: grid;
  justify-content: center;
  justify-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(0, 270px));
  grid-auto-flow: row;
  grid-gap: 32px 20px;
}

@media screen and (max-width: 800px) {
  .movies-preloader {
    max-height: 1236px;
    min-height: 650px;
  }

  .movies-list {
    grid-template-columns: repeat(auto-fit, minmax(0, 339px));
    grid-gap: 36px 30px;
  }
}

@media screen and (max-width: 760px) {
  .movies-list {
    justify-content: center;
    justify-items: center;
  }
}

@media screen and (max-width: 500px) {
  .movies-list {
    margin: 40px 0 auto;
  }

  .movies-preloader {
    max-height: 1315px;
    min-height: 560px;
    margin: 0 auto 10px;
  }

  .movies-list {
    grid-template-columns: repeat(auto-fit, minmax(0, 300px));
    grid-gap: 20px 0px;
    justify-content: center;
  }
}
