
.preloader{
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 1068px;
  overflow: hidden;
}

.movies-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 70px 0 auto;

  display: grid;
  justify-content: space-between;

  justify-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(0, 270px));
  grid-auto-flow: row;
  grid-gap: 35px 10px;
}
