.promo__background {
  position: relative;
  margin: 0 auto;
  background: #073042;
  width: calc(100% + 70px * 2);
  left: -70px;
  bottom: 74px;
  height: 590px;
  z-index: 0;
}

.promo__img {
  height: 320px;
  width: 320px;
  position: relative;
  top: 156px;
  background-image: url('../../images/logo/logo-movies.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 320px 320px;
  margin: 0 auto;
  z-index: 1;
}

.promo__text {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 730px;
  font-weight: 400;
  font-size: 50px;
  line-height: 116%;
  text-align: center;
  color: white;
  letter-spacing: -0.04em;

  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media screen and (max-width: 800px) {
  .promo__background {
    width: calc(100% + 30px * 2);
    left: -30px;
  }
}

@media screen and (max-width: 735px) {
  .promo__text {
    max-width: 730px;
    min-width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .promo__background {
    width: calc(100% + 14px * 2);
    left: -14px;
    bottom: 74px;
  }

  .promo__img {
    height: 248px;
    width: 248px;
    background-size: 248px 248px;
  }

  .promo__text {
    max-width: 300px;
    font-size: 31px;
    line-height: 126%;
  }
}
