.promo__header {
  width: calc(100% + 70px * 2);
  height: 100%;
  margin: 0 auto;
  position: relative;
  background: #073042;
  left: -70px;
  bottom: 74px;
}

.promo__header-img {
  height: 320px;
  width: 320px;
  background-image: url('../../images/logo/logo-praktikum.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 320px 320px;
  margin: 156px auto 122px;
  z-index: 1;
}

.promo__header-text {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 730px;
  font-weight: 400;
  font-size: 50px;
  line-height: 116%;
  text-align: center;
  color: white;
  letter-spacing: -0.04em;

  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media screen and (max-width: 800px) {
  .promo__header {
    height: 100%;
    width: calc(100% + 30px * 2);
    left: -30px;
  }

  .promo__header-img {
    margin: 298px auto 240px;
  }
}

@media screen and (max-width: 735px) {
  .promo__header-text {
    max-width: 730px;
    min-width: 300px;
  }
}
