.app {
  max-width: 100vw;
  min-width: 320px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0px 70px 0px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #202020;
}
