.navtab {
  display: flex;
  /* margin: 0 auto; */

  position: static;
  bottom: 0;


  font-weight: 500;
  font-size: 13px;
  line-height: 123%;
  align-items: center;
  text-decoration-line: underline;
  color: #ffffff;
  background-color: #272727;
  z-index: 100;
}
